@charset "UTF-8";

div.conteiner {
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
}

div.caixa1 {
    background-color: rgba(55, 110, 151, 0.837);
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 5;
}

div.caixa2 {
    background-color: rgba(255, 0, 0, 0.626);
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end: 3;
    
}

div.caixa3 {
    background-color: rgba(0, 255, 38, 0.626);
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 3;
    grid-column-end: 5;
}