@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}

body {
    background-color: rgba(17, 189, 74, 0.658);
    
}
header {
    background-image: linear-gradient(to bottom, rgb(135, 189, 135), rgb(15, 105, 15));
    padding: 13px;
    margin: -20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
aside {
    color: white;
    text-align: center;
    font-size: 24px;
}

nav {
    margin-top: 50px;
}

nav > a {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover{
    background-color: green;
}

h1#cabecalho {
    font-family:"Bebas Neue", sans-serif;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 0px 2px 4px black;
    text-align: center;
    font-size: 60px;
    
}
h1 {
    font-family: 'idroid', Times, serif;
    color: rgb(2, 109, 2);
    
}

h2 {
    font-family: 'idroid',Times, serif;
    background-color: rgba(0, 128, 0, 0.288);
    color: rgb(2, 109, 2);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-indent: 30px;
    
}

main {
    background-color: white;
    margin-left: 240px;
    margin-right: 240px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px 0px 15px 15px;
    
}
picture {
    margin: auto;
}
section#video {
    background-color: rgb(8, 107, 8);

}

picture, video, img, iframe {
    display: block;
    margin: 20px auto;
    
}

h3 {
    background-color: rgb(79, 192, 79);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin:-10px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
section > article {
    background-color: rgba(102, 231, 145, 0.699);
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 1px 6px 0px black;
}
footer > p{
    text-align: center;
    background-color: rgb(8, 107, 8);
    color: white;
    padding: 10px;
}
.duas-colunas {
    columns: 2;
}
.aqui {
    margin: 10px;
    padding: 6px 10px 26px 10px;
}
